.wrapper {
  padding: 80px 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  justify-content: space-evenly;
}
.main-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.block {
  background-color: rgb(229, 202, 202);
  padding: 10px;
  width: 600px;
  border-radius: 6px;
  text-align: justify-all;
}

.aside-block {
  background-color: rgb(229, 202, 202);
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  text-align: justify-all;
}

.block-name {
  text-transform: uppercase;
}

.project-list {
  flex-basis: calc((100% - 40px) / 5);
}
.profile-photo {
  width: 200px;
  height: 250px;
  border-radius: 6px;
}
.name {
  text-transform: uppercase;
  line-height: 1.1;
}

.project-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.project-link {
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms ease-in-out;
  color: #f55d5dad;
}
.project-link:hover,
.project-link:focus {
  color: #c62c2cad;
}
.project-git {
  text-decoration: underline;
  margin-bottom: 5px;
}

span {
  font-weight: 600;
  margin-bottom: 5px;
}
.profile {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.profile-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.contact-item:not(:last-child) {
  margin-bottom: 8px;
}
.contact-link {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hard-skills-list {
  list-style: url('../svg/checkmark.svg') inside;
}
.hard-skills-item:not(:last-child) {
  margin-bottom: 8px;
}
.soft-skills-list {
  list-style: url('../svg/checkmark.svg') inside;
}
.soft-skills-item:not(:last-child) {
  margin-bottom: 8px;
}

.languages-list {
  list-style: url('../svg/checkmark.svg') inside;
}

.languages-item:not(:last-child) {
  margin-bottom: 8px;
}
